<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SynOption" type="Vbyte.Configuration.XmlSerializeSectionHandler, SynUtil"/>
  </configSections>
  <SynOption Mode="Mixed" type="SynUtil.SynOption, SynUtil">
    <MatchRules>
      <SynRule d3p1:type="FileNameRule" Setting="*.cs" OrBeforeRule="false" xmlns:d3p1="http://www.w3.org/2001/XMLSchema-instance" />
      <SynRule d3p1:type="FileSizeRule" Setting="&gt;100k" OrBeforeRule="false" xmlns:d3p1="http://www.w3.org/2001/XMLSchema-instance" />
    </MatchRules>
    <ExcludeRules>
      <SynRule d3p1:type="FileNameRule" Setting="*.rar" OrBeforeRule="false" xmlns:d3p1="http://www.w3.org/2001/XMLSchema-instance" />
      <SynRule d3p1:type="FolderNameRule" Setting="obj" OrBeforeRule="false" xmlns:d3p1="http://www.w3.org/2001/XMLSchema-instance" />
    </ExcludeRules>
  </SynOption>
</configuration>