<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--// 设置系统管理员模拟帐号 -->
		<add key="AnalogueID" value="svn" />
		<!--// 设置系统管理员模拟帐号的加密密码 -->
		<add key="AnaloguePWD" value="QcTokU5sm++2h0nYE5NVKg==" />

		<!--//不允许在线修改的用户名-->
		<add key="DisabledModifyName" value="svn,administrator" />

		<!--//SVN系统服务名称-->
		<add key="ApacheService" value="VisualSVNServer" />

		<!--//服务配置文件地址-->
		<add key="SvnServerConf" value="C:\\Program Files\\VisualSVN Server\\conf\\httpd.conf"/>

		<!--//认证测试地址-->
		<add key="AuthURL4Pass" value="https://192.168.8.119/svn/"/>

		<!--//密码修改工具地址-->
		<add key="htpasswdPath" value="C:\\Program Files\\VisualSVN Server\\htdocs\bin\\htpasswd.exe" />

		<!--//自定义认证密码文件地址-->
		<add key="htpasswdFile" value="D:\\Repositories\\htpasswd"/>

	</appSettings>
	<system.web>
		<compilation defaultLanguage="C#" debug="false" />
		<authentication mode="Forms">
			<forms loginUrl="WinLogin.aspx" />
		</authentication>
		<authorization>
			<deny users="?" />
			<allow users="*" />
		</authorization>
    <customErrors mode="Off" defaultRedirect="Redirect401.htm">
      <error statusCode="401" redirect="Redirect401.htm" />
      <error statusCode="403" redirect="Redirect401.htm" />
      <error statusCode="404" redirect="Redirect401.htm" />
    </customErrors>
	</system.web>
	<location path="WebLogin.aspx">
		<system.web>
			<authorization>
				<allow users="?,*" />
			</authorization>
		</system.web>
	</location>
</configuration>
